<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Nowa polityka dostępu
      </h1>
    </div>
  </div>
</section>

<div class="container">

<br/>

<%= render 'form', permission_policy: @permission_policy %>

<%= link_to 'Powrót', permission_policies_path %>

</div>