<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Backoffice aplikacji iHome
      </p>
      <h2 class="subtitle">
        Autor: Tomasz Morawiec
      </h2>
    </div>
  </div>





</section>

