


  <tr>
    <td><%= history.created_at %></td>
    <td><%= history.timeStamp %></td>
    <td><%= link_to history.switch.name, switch_path(history.switch.id) %></td>
    
    <td><%= history.value %></td>
  </tr> 

